.vp-sidebar-links {
  margin: 0;
  padding: 0;

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style-type: none;
  }

  .vp-sidebar > & {
    padding: 12px 6px;

    @media (max-width: hope-config.$tablet) {
      padding: 1rem 0;
    }

    > li {
      > .vp-sidebar-link {
        font-size: 1.1em;
      }

      &:not(:first-child) {
        margin-top: 0.5rem;
      }
    }
  }

  // 嵌套子节点间距：与最外层一致，避免同一层级的节点紧贴在一起
  .vp-sidebar-group .vp-sidebar-links > li{
    margin-top: 4px;
  }
}
